/cv_7.aux
/cv_7.log
/cv_7.out
/cv_7.synctex.gz
/Sarath_Resume.synctex.gz
/Sarath_Resume.out
/Sarath_Resume.log
/Sarath_Resume.aux


2021/__latexindent_temp.tex
.DS_Store
2021/Sarath_M_ML_Resume.synctex.gz
